use flake

# Override VS Code's empty GIT_* environment variables
export GIT_AUTHOR_NAME="halfdane"
export GIT_AUTHOR_EMAIL="halfdane@gmx.net"
export GIT_COMMITTER_NAME="halfdane"
export GIT_COMMITTER_EMAIL="halfdane@gmx.net"
